body
{
	color: white;
	background-color: #002254;
	font-family: Ubuntu;
}

a
{
	color: white;
}

.tables
{
	border-style: double;
}

.important
{
	background-color: white;
}

.important>td>a
{
	color: black;
}

.important>td
{
	color: black;
}