<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "example_app/css/base/style.css" %}">
	<title>
		{% block title_html %}
		{% endblock %}
	</title>
</head>
<body>
	<div>
		<a href="{% url "index" %}">Página Inicial</a><br />
		<a href="{% url "create_developer" %}">Criar Desenvolvedor</a><br />
		<a href="{% url "create_project" %}">Criar Projeto</a><br />
		<a href="{% url "create_supervisor" %}">Criar Supervisor</a><br />
		<a href="{% url "create_task" %}">Criar Tarefa</a><br />
		<a href="{% url "project_detail" %}">Projetos</a><br />

	</div>
	<h1>
		example_app - {% block h1 %}{% endblock %}
	</h1>
	<article>
		{% block article_content %} {% endblock %}
	</article>
</body>
</html>