{% extends "example_app/base.html" %}
{% block title_html %}
	Projects list
{% endblock %}
{% block h1 %}
	{{ bloc.super }} Projects list
{% endblock %}
{% block article_content %}
	<h3>{{ action }}</h3>
	<table class="tables">
	{% if object_list|length > 0 %}
		<thead>
			<tr>
				<td>Name</td>
				<td>Login</td>
				<td>Data de criação</td>
			</tr>
		</thead>

		<tbody>
			{% for dev in object_list %}
			<tr>
				<td>{{ dev }}</td>
				<td>{{ dev.user_auth.username }}</td>
				<td>{{ dev.date_created }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<span> There are no Developers</span>
	{% endif %}
{% endblock %}
